{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>User Profile</h4>
            <form action="/users/{{ user.username }}/delete" method="POST">
                <input type="hidden" name="_method" value="POST">
                <button class="btn btn-danger" type="submit">Delete Account</button>
            </form>
        </div>
        <div class="card-body">
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
        <div class="card-header bg-secondary text-white">
            <h4>Feedback </h4>
            <form action="/users/{{ user.username }}/feedback/add" method="POST">
                <input type="hidden" name="_method" value="POST">
                <button class="btn btn-success" type="submit">Add Feedback </button>
            </form>
        </div>
        <div class="card-body">
            {% if user_feedback|length == 0 %}
            <p><strong>There is no Feedback Yet</strong></p>
            {% else %}
            {% for feedback in user_feedback %}
            <p><strong>Title:</strong> {{ feedback.title }}</p>
            <p><strong>Content:</strong> {{ feedback.content }}</p>
            <form action="/feedback/{{ feedback.id }}/update" method="POST">
                <input type="hidden" name="_method" value="POST">
                <button class="btn btn-secondary" type="submit">Edit Feedback</button>
            </form>
            <form action="/feedback/{{ feedback.id }}/delete" method="POST">
                <button class="btn btn-danger" type="submit">Delete Feedback</button>
            </form>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    {% endblock %}